*, html {
  margin: 0;
  padding: 0;
}
body {
  margin: 2rem;
}
ul {
  list-style-type: none;
  font-size: 0;
  line-height: 0;
}

@keyframes _fade-in {
  0% {
    opacity: 0;
  }
}
@keyframes _fade-out {
  to {
    opacity: 0;
  }
}

html.from-index.to-detail::view-transition-new(root),
html.from-index.to-detail::view-transition-old(root),
html.from-detail.to-index::view-transition-new(root),
html.from-detail.to-index::view-transition-old(root) {
  transform-origin: 0 0;
}
html.from-index.to-detail::view-transition-new(root) {
  animation: _fade-in 0.15s .05s both;
}
html.from-detail.to-index::view-transition-old(root) {
  animation: _fade-out 0.15s .05s both;
  z-index: 2;
}
html.from-detail.to-detail::view-transition-new(root) {
  animation: _fade-in 0.5s both;
}
html.from-detail.to-detail::view-transition-old(root) {
  animation: _fade-out 0.5s both;
}
html.from-detail.to-detail.back-transition::view-transition-new(root) {
  animation-name: _fade-in;
}
html.from-detail.to-detail.back-transition::view-transition-old(root) {
  animation-name: _fade-out;
}
.cat-img {
  view-transition-name: cat-anime;
}

.cat {
  width: 720px;
}

.cats-list {
  margin-top: 2rem;
  display: flex;
}
.cats-list li {
  width: 200px;
}
.cats-list li + li {
  margin-left: 1rem;
}

.cat img,
.cats-list li img {
  width: 100%;
  height: auto;
}

.cats-list li[inert] {
  opacity: .5;
}
